# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/part1/anecdotes/node_modules/
**/part1/courseinfo/node_modules/
**/part1/unicafe/node_modules/
